h1, h2, h3{
    color: #97d663 !important;   
}

.orange{
    color: #ffcb60 !important;   
}
.grey{
    color: #AAAAAA !important;   
}
.blue{
    color: #b1cafc !important;   
}
.darkblue{
    color: #799bdf !important;   
}
.white{
    color: #fff !important;   
}
.menubar{
    margin-top:20px;   
}
.no-margin{
    margin 0;   
}
.right-border{
    border-right: 1px solid #CCCCCC;   
}

.button-mainmenu{
    margin: 5px 5px;   
}

.searchbox{
    width: 70%;
    height: 33px;
    margin-top: 6px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    box-shadow: none;
    border-style: none;
    border: 1px solid #CCCCCC;
}
#media-carousel{
    margin: 20px;   
}
.btn-search{
    height: 33px;
    width: 15%;
    margin-left: -5px;
    margin-top: 5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: none;
    border-style: none;
    border: 1px solid #CCCCCC;
}
.tri-col{
    max-width: 100px;
    max-height: 100px;
    margin-top: 15px;
}
.footer{
    margin: 50px 0;   
}
body{
    padding: 0 150px;   
}
#mycarousel, #main-carousel{
    max-width: 1000px;   
}

.main-menu-strip{
    margin-top: 25px;   
}

.pad{
    padding: 0px;
    margin: 0 20px 0 0;
}   

.left{
    float: left;   
}

.tab{
    margin-left: 15px;   
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}
#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
#add-comment * {margin-bottom: .5em;}

input[type='submit'] {
    background: #5a81ce;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: .3em 2em;
    text-shadow: 1px 1px 1px #000;
}

input:required, 
textarea:required {
    outline: 1px solid #b1cafc;
}

#posts-list.has-comments li.no-comments {
  display: none;
}


/* Styling for the form page */
.box{
  background-color: #AAAAAA;
  width: 900px;
  border: 20px solid #bdc3c7;
  border-radius: 10px;
  text-align: left;
  color: #ffcb60;
}

.left_col{
    width: 550px;
    float: left;
}

.right_col{
    width: 200px;
    float: left;
}

.inputbox{
  margin-left: 35px;
  font-size: 18px;
    height: 600px;
}

.blackwords{
    color: black;
    font-size: 14px;
}

textarea{
  resize: none;
}		 